@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        font-family: "geom",sans-serif;
    font-style: normal;
}
:root{
    --bg-color: #bea08f;
    --gray-color:#364038;
}
h1,h2,h3,h4,h5,h6{
    font-family: "geom",sans-serif;
    font-weight: 800;
    color: var(--gray-color);
    margin-bottom: 0em;
}
p,a,span,li,button{
    font-family: "Ubuntu",sans-serif;
    font-weight: 400;
    color: var(--gray-color);
    margin-bottom: .5em;
}
button{
    padding: 10px 1.5em;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: var(--gray-color);
    color: white;
    font-weight: 600;
    width: fit-content;
    margin: 1em 0;
    margin-top: 2em;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1em;
}
button:hover{
    background: transparent;
    border: 1px solid var(--gray-color);
    color: var(--gray-color);
}
a{
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
    color: var(--bg-color);
}
.content{
    max-width: 1200px;
    margin: 0 auto;
}
body{
    width: 100%;
}
.intro{
    width: 100%;
    height: 100vh;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1em 2em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(0.5s);
    z-index: 1000;
}
header nav{
    display: flex;
    gap: 1em;
}
header nav a{
    margin: 90;
    color: var(--bg-color);
}
header h1{
    font-size: 3.5em;
    font-family: "geom",sans-serif;
}
.intro-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    gap: 1em;
}
.intro-content .left {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2em 3.5em;
    padding-bottom: 5em;
    }
.intro-content .right{
    width: 60%;
}
.intro-content .right img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.intro-content .left h2{
    font-size: 2.5em;
    margin-bottom: 0.5em;
        font-family: "geom",sans-serif;

}
section{
    padding: 6.5em 3.5em;
}
.section-intro{
    font-size: 2.5em;
    margin-bottom: 0.5em;
}
.arrival-list{
    list-style: none;
    display: flex;
    gap: 5em;
    overflow-x: auto;
    padding: 2em .5em;
    flex-wrap: nowrap;
    max-width: 800px;
    margin: 0 auto;
    overflow: auto;
}
.arrival-list li.arrived-book:hover{
    background-color: #dadbd9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0,0.1);
    padding: 1em 1.5em;
    border-radius: 0px;
    min-width: 300px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
   

}
.book-info{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: .5em;
    
    
}
.arrived-book img{
    width: 200px;
    height:300px;
    object-fit:cover;
    border: 2px solid var(--gray-color);
}
.book-in{
   font-family: "geom",sans-serif;
   font-weight: 500;
   margin-top: .5em;
}
.categories ul.C-list{
    flex: 1;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 4em;
}
.categories .category{
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0,0.5);
    padding: 1.5em 1.5em;
    margin-left: 8em;
    border-radius: 10px;
    max-width: 300px;
    text-align: center;
}
.category img{
    padding: 0em;
    margin: 0em;

}
.category-title{
    font-size: 1em;
}
.review-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2em;
    overflow-y: auto;
    padding: 2em .5em;
    flex-wrap: nowrap;
    max-height: 550px; 
    margin: 0 auto;
    overflow: auto;
}
.review-header p{
    text-transform: capitalize;
    color: var(--bg-color);
    font-size: .9em;
    font-weight: 500;
    margin-bottom: .5em;
    display: inline-block;
    font-family: 'ubuntu', sans-serif;
}

.book-review li.review{
    display: flex;
    align-items:flex-start;
    gap: 1em;
    width: 100%;
    background-color:whitesmoke;
}
.review-left{
width: 60%;
}
.review-left img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.review-right{
    width: 40%;
    padding: 2em 3.5em;
    padding-top: 10em;
}
.author-info{
    display: flex;
    flex-direction: column;
    padding: .5em;
    
}
.review-right h4{
    font-size: 2em;
    margin-bottom: .5em;
}
.review-text{
    font-style: italic;
}
.author-name,.author-role{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.partner-header{
    text-align: center;
    font-size: 2em;
    font-weight: 800;
    margin-bottom: .5em;
}
.partners ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    flex-wrap: wrap;
    margin-left: 10em;
    margin-right: 10em;
}
.partners ul li{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    border-left: 1px solid var(--bg-color);
    padding: .5em 2em;
     min-width: 200px;
}
.partners li img{
    width: 100%;
    height: 10vh;
    object-fit:scale-down;
    
}
.partner-name{
   text-align: center;
    margin: .5em;
    font-size: 1.5em;
    font-weight: 700;
}
footer{
    background-color: var(--bg-color);
    padding: 5em 2.5em;
    padding-bottom: 2em;
}
footer .content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em 1em;
}
footer*{
    color: var(--gray-color);
    font-family: "geom",sans-serif;
}
.footer-links{
    display: flex;
    gap: 3em;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-links nav{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em 0;
    font-size: 12px;
    opacity: .7;
   
}
.footer-links nav a:hover{
    color: var(--gray-color);
    
}
.footer-bottom{
    text-align: center;
    margin-top: 3em;
}
@keyframes appear{
    from {
        opacity: 0.5;
        scale: 0.5;
        /* transform: translateY(20px); */
    }
    to {
        opacity: 1;
        scale: 1;
        /* transform: translateY(0); */
    }
}

section {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}


